.main-title {
  margin-top: 50px;
  font-size: 50px;
  font-weight: bold;
  color: #1E90FF;
}

.pointers {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  padding: 0 210px;
  margin-bottom: 50px;
}

.pointers li {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  justify-content: space-between;
  margin-right: 50px;
}

.number {
  color: #FFF;
  background-color: #1E90FF;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
}



.explain {
  text-align: left;
}

.title {
  font-size: 20px;
  color: #1E90FF;
  font-weight: bold;
  text-align: left;
  margin-bottom: 10px;  
}
