@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'RobotoMono', monospace;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #FFF;
  background: linear-gradient(to right, rgb(83, 105, 118), rgb(41, 46, 73));
}